.buildpath
.settings/
.project
*.patch
.idea/
.git/
.env*
.DS_Store
LICENSE
tests/.phpunit.result.cache
.phpunit.result.cache
runtime/logs
runtime/main
runtime/
w7_cd_artifact/config.yaml
.run/
node_modules/
dist/
package-lock.json